openapi: 3.1.0
info:
  title: Noisia Public Reporting API
  version: "2.0.0"
  summary: Public reporting endpoints for customers and external integrations.
  description: |
    Public API for published Noisia Signal reports.

    V1 exposes flat tabular datasets and CSV exports for BI tools.
    V2 exposes the structured client-ready Signal output for external integrations.
servers:
  - url: https://studio.noisia.ai
    description: Production
security:
  - bearerAuth: []
  - noisiaApiKey: []
tags:
  - name: Public V1
    description: Flat datasets and CSV exports.
  - name: Public V2
    description: Structured Signal output for customers and external integrations.
  - name: Signal Workspace V1
    description: Protected workspace-centric live Social Listening APIs. Disabled by default.
  - name: Data OS Review
    description: Protected internal artifact review APIs. Disabled by default.
  - name: Signal Semantic Review
    description: Protected internal semantic mention Review APIs. Never exposed to Signal clients.
  - name: Signal Acquisition Plan
    description: Protected internal workspace-owned acquisition control-plane APIs.
  - name: Topic Discovery Review
    description: Protected internal operator review of pending discovery proposals; never Signal serving or semantic assignment authority.
  - name: Semantic Context Pack
    description: Protected management-only authority for structured Brand OS/Knowledge context; never serving or classification authority.
paths:
  /api/public/v1/reports:
    get:
      tags: [Public V1]
      operationId: listPublicV1Reports
      summary: List published reports visible to the API key.
      responses:
        "200":
          description: Visible published reports.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1ReportsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/{dataset}:
    get:
      tags: [Public V1]
      operationId: getPublicV1ReportDataset
      summary: Get a flat JSON dataset for one report.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: dataset
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/V1Dataset"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv]
          description: Use `csv` to download the dataset as CSV.
      responses:
        "200":
          description: Dataset rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
            text/csv:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/time-series/monthly:
    get:
      tags: [Public V1]
      operationId: getPublicV1MonthlyTimeSeries
      summary: Get monthly mention volume.
      parameters:
        - $ref: "#/components/parameters/OutputId"
      responses:
        "200":
          description: Monthly time-series rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/distributions/{distribution}:
    get:
      tags: [Public V1]
      operationId: getPublicV1Distribution
      summary: Get a flat distribution dataset.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: distribution
          in: path
          required: true
          schema:
            type: string
            enum: [platform, content-type, layer, mobility, polarity]
      responses:
        "200":
          description: Distribution rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/datasets/{datasetFile}:
    get:
      tags: [Public V1]
      operationId: downloadPublicV1DatasetCsv
      summary: Download a V1 dataset as CSV.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: datasetFile
          in: path
          required: true
          schema:
            type: string
            examples:
              - findings.csv
              - recommendations.csv
              - time-series-monthly.csv
      responses:
        "200":
          description: CSV dataset.
          content:
            text/csv:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports:
    get:
      tags: [Public V2]
      operationId: listPublicV2Reports
      summary: List published reports visible to the API key.
      responses:
        "200":
          description: Visible published reports with available sections.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ReportsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports/{outputId}:
    get:
      tags: [Public V2]
      operationId: getPublicV2Report
      summary: Get the full structured Signal report.
      parameters:
        - $ref: "#/components/parameters/OutputId"
      responses:
        "200":
          description: Full structured report.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports/{outputId}/sections/{section}:
    get:
      tags: [Public V2]
      operationId: getPublicV2ReportSection
      summary: Get one structured Signal section.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: section
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/V2Section"
      responses:
        "200":
          description: Structured section response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/data-os/signal/{workspaceId}:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceHome
      summary: Get the front-ready Signal workspace facade.
      description: Consolidates workspace/subject, server-resolved operational read scope, canonical coverage and filter, capabilities, facets, freshness, metric groups, reviewed interpretations, strategic release history, visibility, lineage, partial states and explicit legacy fallback. In governed mode it does not require a study corpus. It never reads published_outputs.payload as source of truth.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
      responses:
        "200":
          description: Frozen Signal V2 backend facade.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalWorkspaceHomeV1" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/bootstrap:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceBootstrap
      summary: Get workspace identity, operational read scope, optional corpus context, coverage and freshness.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/brand-monitoring:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceBrandMonitoring
      summary: Get the complete Brand Monitoring view under one operational read scope.
      description: The server resolves legacy, shadow or governed mode. Shadow returns the legacy payload and durably schedules governed module checks after the response. Governed resolves the closed server-owned view binding and exact derived population; a non-brand view without a current compatible binding fails closed and never falls back to the brand bridge.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalComparisonStart" }
        - { $ref: "#/components/parameters/SignalComparisonEnd" }
      responses:
        "200": { description: Compact Brand Monitoring payload with read scope, coverage, comparison, series, breakdowns and freshness. }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/facets:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceFacets
      summary: List permission-aware facets under the current SignalFilterV1.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/metric-groups:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceMetricGroups
      summary: Get visible metric groups, versions, capabilities and freshness.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/interpretations:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceInterpretations
      summary: Get versioned metric-group interpretations for the exact filter and watermark scope.
      description: Claude never calculates metrics; every cited number and evidence ref is validated against canonical SB-05 materializations. Pending, stale, partial and unavailable are explicit states.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/releases:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceStrategicReleases
      summary: Get current and immutable T&B strategic release history.
      description: Clients receive only human-approved published/client releases. Internal users may also inspect drafts and review states. No payload source is read.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200":
          description: Current strategic release and ordered immutable history.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalStrategicReleasesV1" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
    post:
      tags: [Signal Workspace V1]
      operationId: reviewSignalWorkspaceStrategicRelease
      summary: Create a review draft or human-promote a strategic release.
      description: Internal corpus managers only. Governed V2 promotion is idempotent and fail-closed on analysis approval, quality gates, exact artifact revisions, workspace scope and current evidence authority.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  additionalProperties: false
                  required: [action, tb_analysis_id]
                  properties:
                    action: { const: create_draft }
                    tb_analysis_id: { type: string, format: uuid }
                    title: { type: string, maxLength: 300 }
                - type: object
                  additionalProperties: false
                  required: [action, release_id]
                  properties:
                    action: { const: promote }
                    release_id: { type: string, format: uuid }
      responses:
        "200": { description: Release draft result, or an idempotently promoted release result for action=promote. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/reports/triggers-barriers/runs:
    get:
      tags: [Signal Workspace V1]
      operationId: preflightSignalWorkspaceTriggersBarriersRun
      summary: Evaluate the governed T&B launch contract without writes or paid calls.
      description: Resolves the strategic binding, policy, exact derived population, governance provenance, coverage, deterministic sample, provider identity, closed execution plan, runtime readiness and worst-case budget inside one REPEATABLE READ READ ONLY transaction. It performs no writes, enqueues zero jobs and makes zero provider calls. The browser never supplies authority IDs.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: period_start
          in: query
          required: true
          schema: { type: string, format: date }
        - name: period_end
          in: query
          required: true
          schema: { type: string, format: date }
        - name: timezone
          in: query
          required: true
          schema: { type: string, minLength: 1, maxLength: 100 }
        - name: study_size
          in: query
          required: false
          schema: { type: string, enum: [small, medium, large, full_power] }
        - name: hard_cap_usd
          in: query
          required: true
          schema: { type: number, exclusiveMinimum: 0 }
      responses:
        "200":
          description: Read-only preflight. A blocked result remains a successful inspection with ready=false and typed blocking reasons.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTbStrategicPreflightV1" }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
    post:
      tags: [Signal Workspace V1]
      operationId: startSignalWorkspaceTriggersBarriersRun
      summary: Atomically freeze the server-owned strategic population and request an idempotent T&B run.
      description: Recomputes the exact free preflight, rejects stale digests or hard caps, and resolves every binding, policy, compilation, evaluation, population and execution-corpus identity server-side. One transaction freezes the relational snapshot and deterministic sample, creates the governed run control and durable outboxes, and reserves no provider spend until a Worker validates runtime authority. A server-side paid-run flag remains mandatory.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 500 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalTbStrategicRunRequestV2" }
      responses:
        "200":
          description: Existing compatible governed run returned by the idempotency key.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTbStrategicLaunchV2" }
        "202":
          description: New governed run, immutable snapshot/sample and durable outboxes.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTbStrategicLaunchV2" }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/reports/triggers-barriers/runs/{analysisId}:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceTriggersBarriersRunStatus
      summary: Poll one governed T&B run without side effects.
      description: Returns sanitized lifecycle, step, provider-version, budget and Review/release readiness state. Polling never enqueues, resumes or invokes a provider.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: analysisId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Current governed run status.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTbStrategicRunStatusV1" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
    delete:
      tags: [Signal Workspace V1]
      operationId: cancelSignalWorkspaceTriggersBarriersRun
      summary: Request cancellation of one governed T&B run.
      description: Records a server-authorized cancellation request. Workers observe the durable state between steps; the operation neither deletes the run nor rewrites its frozen authority.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: analysisId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "202": { description: Cancellation accepted or already requested. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/reports/triggers-barriers/runs/{analysisId}/review:
    post:
      tags: [Signal Workspace V1]
      operationId: reviewSignalWorkspaceTriggersBarriersRun
      summary: Review one workspace T&B run and create its candidate release revision.
      description: Requires a governed V2 run with green quality and snapshot-containment gates. One idempotent database operation records selected reusable assertion decisions and creates the release draft atomically. Accepting findings or artifacts never approves all generated tags.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: analysisId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 500 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalTbStrategicReviewRequestV2" }
      responses:
        "200":
          description: Atomic Review result and idempotent release draft.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTbStrategicReviewResultV2" }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/triggers-barriers:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceTriggersBarriersOverview
      summary: Read the current T&B report revision by workspace and report key.
      description: Reads relational findings, artifacts and snapshot identity. It never serves published_outputs.payload and does not require a study query parameter.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/triggers-barriers/series:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceTriggersBarriersSeries
      summary: Read current-release T&B series under its frozen snapshot.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - name: finding
          in: query
          required: false
          schema: { type: string, format: uuid }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/triggers-barriers/findings/{findingId}:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceTriggersBarriersFinding
      summary: Read one finding from the current report revision.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: findingId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/triggers-barriers/findings/{findingId}/evidence:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceTriggersBarriersEvidence
      summary: Read cursor-paginated canonical evidence from the frozen snapshot.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: findingId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - name: cursor
          in: query
          required: false
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/corpora/{corpusId}/artifacts/{artifactId}/review:
    get:
      tags: [Data OS Review]
      operationId: getAnalysisArtifactReviewHistory
      summary: Get immutable editorial review history for one analysis artifact.
      security: [{ kindeSession: [] }]
      parameters:
        - { name: corpusId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: artifactId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Artifact review event history. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Data OS Review]
      operationId: reviewAnalysisArtifact
      summary: Accept, correct, limit or reject one analysis artifact.
      description: Corrections and limitations create a new immutable revision. Published revisions are never mutated.
      security: [{ kindeSession: [] }]
      parameters:
        - { name: corpusId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: artifactId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [accept, correct, limit, reject] }
                notes: { type: string, maxLength: 2000 }
                patch:
                  type: object
                  additionalProperties: false
                  properties:
                    title: { type: [string, "null"] }
                    summary: { type: [string, "null"] }
                    content: {}
                    confidence: { type: [string, "null"] }
                    metadata: { type: object }
      responses:
        "200": { description: Reviewed artifact or newly created revision. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: The requested revision was already superseded. }
  /api/data-os/signal/{workspaceId}/series:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceSeries
      summary: Get a deterministic daily, weekly or monthly metric series.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalMetricVersion" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalRequireFresh" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "202": { $ref: "#/components/responses/SignalWorkspacePending" }
        "206": { $ref: "#/components/responses/SignalBackendError" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/breakdowns:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceBreakdown
      summary: Get the governed breakdown for a metric under the current filter.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalMetricVersion" }
        - name: dimension
          in: query
          required: true
          schema: { $ref: "#/components/schemas/SignalDimensionV1" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalRequireFresh" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "202": { $ref: "#/components/responses/SignalWorkspacePending" }
        "206": { $ref: "#/components/responses/SignalBackendError" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/comparison:
    get:
      tags: [Signal Workspace V1]
      operationId: compareSignalWorkspacePeriods
      summary: Compare equal-length, non-overlapping periods for one metric.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalMetricVersion" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - name: comparison_start
          in: query
          required: true
          schema: { type: string, format: date }
        - name: comparison_end
          in: query
          required: true
          schema: { type: string, format: date }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalRequireFresh" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "202": { $ref: "#/components/responses/SignalWorkspacePending" }
        "206": { $ref: "#/components/responses/SignalBackendError" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/mentions:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceMentions
      summary: Page canonical sanitized mentions using stable ordering and an opaque cursor.
      description: Returns the server-resolved read scope. The client cannot choose a population id. Governed mode emits one canonical root per mention; historical alias ids resolve to that root in detail/evidence navigation.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 100000, default: 0 }
        - name: sort
          in: query
          schema: { type: string, enum: [published, platform, conversation_role, engagement], default: published }
        - name: direction
          in: query
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/lineage:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceLineage
      summary: Get basic metric definition and data watermark lineage.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - name: metric_key
          in: query
          schema: { type: string }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/topics-narratives:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalTopicsNarrativesOverview
      summary: Get canonical topic and narrative metrics for one workspace filter.
      description: Reads approved active-profile classifications and deterministic topic.volume@1/narrative.volume@1 materializations. SQL owns every count, share, denominator and comparison. Its private ETag identifies semantic coverage, terms, series and cooccurrences rather than only the source watermark.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalTextSearch" }
        - { $ref: "#/components/parameters/SignalComparisonStart" }
        - { $ref: "#/components/parameters/SignalComparisonEnd" }
      responses:
        "200":
          description: Topic and narrative rankings, series, shares, cooccurrences and coverage.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTopicsNarrativesOverviewV1" }
        "304": { description: Semantic overview content is still current; membership changes that affect coverage or terms always produce 200 with a new ETag. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/topics-narratives/{kind}/{termKey}:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalTaxonomyTermDetail
      summary: Get one active topic or narrative with series, comparison and related terms.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalTaxonomyKind" }
        - { $ref: "#/components/parameters/SignalTaxonomyTermKey" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalTextSearch" }
        - { $ref: "#/components/parameters/SignalComparisonStart" }
        - { $ref: "#/components/parameters/SignalComparisonEnd" }
      responses:
        "200":
          description: Governed term detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTaxonomyTermDetailV1" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/topics-narratives/{kind}/{termKey}/evidence:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalTaxonomyTermEvidence
      summary: Page approved mention evidence for one topic or narrative.
      description: Uses the same SignalFilterV1 predicate as the aggregate. Pending and rejected tags are never claim-specific evidence.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalTaxonomyKind" }
        - { $ref: "#/components/parameters/SignalTaxonomyTermKey" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalTextSearch" }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Sanitized approved evidence page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTaxonomyEvidencePageV1" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/topics-narratives/{kind}/{termKey}/lineage:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalTaxonomyTermLineage
      summary: Get profile, materialization, watermark and source lineage for one term.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalView" }
        - { $ref: "#/components/parameters/SignalTaxonomyKind" }
        - { $ref: "#/components/parameters/SignalTaxonomyTermKey" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalTextSearch" }
      responses:
        "200":
          description: Governed lineage; IDs and edges are internal-only.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalTaxonomyLineageV1" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/sources:
    get:
      tags: [Signal Workspace Data Plane V1]
      operationId: listSignalWorkspaceSources
      summary: List compact workspace-owned source contracts.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Compact source catalog; no records or payload blobs. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Signal Workspace Data Plane V1]
      operationId: createSignalWorkspaceSource
      summary: Register a workspace-owned connector or a compatibility source without requiring a study.
      description: Connector-only input is the acquisition target and does not carry scope/entity approval. The legacy scope input remains compatibility-only.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - { $ref: "#/components/schemas/SignalConnectorSourceInputV1" }
                - { $ref: "#/components/schemas/SignalLegacyWorkspaceSourceInputV1" }
      responses:
        "201": { description: Source and disabled manual refresh policy created. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { description: Invalid or cross-workspace source contract. }
  /api/data-os/signal/{workspaceId}/sources/{sourceId}/imports:
    get:
      tags: [Signal Workspace Data Plane V1]
      operationId: listSignalWorkspaceImports
      summary: List the latest compact import lineage for one workspace source.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: sourceId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Up to 100 import summaries; never contains mention records. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Signal Workspace Data Plane V1]
      operationId: importSignalWorkspaceMentions
      summary: Stream a CSV into canonical workspace mentions.
      description: Scope and entity attribution are inherited from the governed source and cannot be overridden by the import. Optional study_corpus_id is contributor provenance only. Response is compact and never returns the imported population.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: sourceId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: study_corpus_id
          in: query
          required: false
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          text/csv:
            schema: { type: string, format: binary }
      responses:
        "201": { description: Import accepted, deduplicated and watermarked. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { description: Invalid workspace, governed source or study provenance. }
  /api/data-os/signal/{workspaceId}/populations/operational/shadow:
    get:
      tags: [Signal Workspace Data Plane V1]
      operationId: compareSignalOperationalPopulationShadow
      summary: Compare workspace population against legacy corpus serving.
      description: Internal-only correctness gate for the governed primary-brand population. It requires zero contract violations and unexplained differences, explains legacy-only records by scope, executes Brand Monitoring, Mentions and Topics & Narratives adapters outside client responses, hashes the full Mentions canonical set in SQL, samples actual reader pages/cursors and resolves historical alias enrichment. Exact parity with a legacy reader that mixes scopes is not required. This endpoint never activates client serving.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Compact governed correctness result, full-set hashes, module checks and explained legacy differences by scope. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/semantic-review:
    get:
      tags: [Signal Semantic Review]
      operationId: listSignalSemanticReviewQueue
      summary: List one canonical root per included mention for operator Review.
      description: Internal-only, private/no-store queue backed by the versioned Semantic Review projection. Filtering, keyset pagination, totals and facets execute server-side; the request never rebuilds or classifies the full corpus. Source intent remains provenance and is never semantic eligibility. The cursor is bound to the projection snapshot and normalized filters.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: mention, in: query, description: Canonical mention ID to focus after send_to_review., schema: { type: string, format: uuid } }
        - { name: state, in: query, schema: { $ref: "#/components/schemas/SignalSemanticQueueStateV1" } }
        - { name: proposed_scope, in: query, schema: { $ref: "#/components/schemas/SignalSemanticScopeV1" } }
        - { name: confidence_band, in: query, schema: { type: string, enum: [high, medium, low] } }
        - { name: data_source_id, in: query, schema: { type: string, format: uuid } }
        - { name: platform, in: query, schema: { type: string, maxLength: 100 } }
        - { name: start, in: query, schema: { type: string, format: date } }
        - { name: end, in: query, schema: { type: string, format: date } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        "200":
          description: Cursor-paginated canonical Review queue and complete-set reconciliation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalSemanticReviewQueueV1" }
        "400": { description: Invalid filter or stale cursor. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/semantic-review/resolve:
    get:
      tags: [Signal Semantic Review]
      operationId: getSignalSemanticResolutionStatus
      summary: Poll resolver status without side effects.
      description: Strictly read-only. GET never prepares, resumes or enqueues a resolver run.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Latest resolver status, or run null. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Signal Semantic Review]
      operationId: prepareSignalSemanticResolution
      summary: Prepare a confirmed, budget-capped semantic resolution parent and durable child batches.
      description: The only resolver method permitted to create durable work. It requires the exact free-preflight digest and an operator-selected hard cap; it never truncates the eligible selection and does not treat the USD 40 confirmation threshold as a budget ceiling.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [hard_cap_usd, preflight_digest, confirmation_accepted]
              properties:
                hard_cap_usd: { type: string, pattern: '^(0|[1-9][0-9]*)(?:\.[0-9]{1,6})?$' }
                preflight_digest: { type: string, pattern: '^sha256:[0-9a-f]{64}$' }
                confirmation_accepted: { const: true }
                supersedes_run_id: { type: [string, "null"], format: uuid }
      responses:
        "200": { description: Existing run or budget confirmation response. }
        "202": { description: Resolver run accepted for queueing. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    delete:
      tags: [Signal Semantic Review]
      operationId: cancelSignalSemanticResolution
      summary: Request cancellation of one semantic resolution parent.
      description: Idempotently stops new child dispatches and preserves completed work and append-only history. In-flight provider work is canceled through the provider boundary before terminal reconciliation.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [run_id]
              properties:
                run_id: { type: string, format: uuid }
      responses:
        "200": { description: Cancellation state and append-only audit result. }
        "400": { description: Invalid cancellation or missing idempotency key. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/data-os/signal/{workspaceId}/semantic-review/resolve/preflight:
    get:
      tags: [Signal Semantic Review]
      operationId: preflightSignalSemanticResolution
      summary: Calculate a free, strictly read-only semantic resolution flight card.
      description: Returns the accepted and excluded population, provenance and llm-processing rights, resolved/unresolved strata, snapshot and governance digests, pinned provider/model/pricing, full child-batch count, exact estimate, explicit hard cap and Worker/recovery readiness. It performs no writes, jobs, provider calls or spend.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: hard_cap_usd
          in: query
          required: true
          schema: { type: string, pattern: '^(0|[1-9][0-9]*)(?:\.[0-9]{1,6})?$' }
      responses:
        "200": { description: Complete operator-safe flight card, whether ready or blocked. }
        "400": { description: An explicit hard cap is required. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { description: Projection or authority is unavailable; no work is created. }
  /api/data-os/signal/{workspaceId}/semantic-review/resolve/resume:
    post:
      tags: [Signal Semantic Review]
      operationId: resumeSignalSemanticResolutionChild
      summary: Create an auditable superseding attempt for one failed child batch.
      description: Reuses the sealed parent selection and only unresolved child items. The failed child remains immutable and visible in history.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [run_id, child_ordinal]
              properties:
                run_id: { type: string, format: uuid }
                child_ordinal: { type: integer, minimum: 1 }
      responses:
        "200": { description: Idempotent replay of the same resume request. }
        "202": { description: Superseding child attempt prepared durably. }
        "400": { description: Invalid resume or missing idempotency key. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Child is not resumable or request conflicts. }
  /api/data-os/signal/{workspaceId}/admin-mentions:
    get:
      tags: [Signal Semantic Review]
      operationId: listOrInspectSignalAdminMentions
      summary: List canonical mentions or inspect one operator-safe detail.
      description: The list remains compact and adds operator_summary plus relational facets counted across every canonical root in the workspace, never only the Operational population. With mention, returns canonical and dedup lineage, sanitized quality, provenance, semantic assertions and Review, Operational memberships, enrichment and T&B references. raw_metadata is never returned.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: mention, in: query, schema: { type: string, format: uuid } }
        - { name: inclusion_status, in: query, schema: { type: string, enum: [pending, included, excluded] } }
        - { name: resolution_state, in: query, schema: { type: string, enum: [unresolved, pending, approved_by_model, approved_by_human, approved_by_policy, rejected, superseded] } }
        - { name: review_status, in: query, schema: { type: string, enum: [unresolved, pending, approved, rejected] } }
        - { name: eligibility_status, in: query, schema: { type: string, enum: [unresolved, not_eligible, candidate, eligible] } }
        - { name: minimum_quality_score, in: query, schema: { type: number, minimum: 0, maximum: 100 } }
        - { name: quality_flag, in: query, schema: { type: string, maxLength: 100 } }
        - { name: latest_governance_action, in: query, schema: { type: string, enum: [include, exclude, revert, send_to_review] } }
        - { name: provenance_source_id, in: query, schema: { type: string, format: uuid } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        "200": { description: Compact list or focused operator-safe detail. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/admin-mentions/{mentionId}/governance:
    post:
      tags: [Signal Semantic Review]
      operationId: mutateSignalCanonicalMentionGovernance
      summary: Apply a reversible workspace-native action to a canonical mention.
      description: Resolves aliases to the canonical root, writes append-only actor/reason history, and relies on governed population reconciliation and invalidation. It never promotes a pointer.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: mentionId, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action, reason]
              properties:
                action: { type: string, enum: [include, exclude, revert, send_to_review] }
                reason: { type: string, minLength: 3, maxLength: 1000 }
      responses:
        "200": { description: Idempotent replay. }
        "201": { description: Append-only governance event recorded. }
        "400": { description: Invalid action, state or idempotency input. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/semantic-review/candidates:
    post:
      tags: [Signal Semantic Review]
      operationId: generateSignalSemanticCandidates
      summary: Dry-run or create deterministic pending semantic candidates.
      description: Candidate apply creates only mention_semantic pending/candidate assertions. It cannot create Review events, approvals, V2 memberships or a population pointer.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [mode]
              properties:
                mode: { type: string, enum: [dry-run, apply] }
      responses:
        "200": { description: Dry-run or idempotent no-op result. }
        "201": { description: Pending/candidate assertions created. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Current assertion conflicts with deterministic evidence. }
  /api/data-os/signal/{workspaceId}/semantic-review/assertions:
    post:
      tags: [Signal Semantic Review]
      operationId: createSignalSemanticAssertion
      summary: Create a manual pending semantic assertion.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalSemanticAssertionInputV1" }
      responses:
        "201": { description: Pending/candidate assertion created on the canonical root. }
        "400": { description: Scope/entity is not governed or mention is excluded. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Conflicting current assertion. }
  /api/data-os/signal/{workspaceId}/semantic-review/assertions/{assertionId}/review:
    post:
      tags: [Signal Semantic Review]
      operationId: reviewSignalSemanticAssertion
      summary: Approve or reject a current assertion as the authenticated reviewer.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SemanticAssertionId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [decision, rationale]
              properties:
                decision: { type: string, enum: [approve, reject] }
                rationale: { type: string, minLength: 3, maxLength: 2000 }
      responses:
        "200": { description: Append-only Review decision recorded and V2 draft reconciled. }
        "400": { description: Assertion is ineligible for this decision. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/semantic-review/assertions/{assertionId}/supersede:
    post:
      tags: [Signal Semantic Review]
      operationId: supersedeSignalSemanticAssertion
      summary: Preserve a current assertion and create its next pending version.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SemanticAssertionId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalSemanticSupersessionInputV1" }
      responses:
        "201": { description: Prior version preserved and new pending/candidate version created. }
        "400": { description: Scope/entity is not governed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/semantic-review/assertions/{assertionId}/history:
    get:
      tags: [Signal Semantic Review]
      operationId: getSignalSemanticAssertionHistory
      summary: Read append-only Review history for one workspace assertion.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SemanticAssertionId" }
      responses:
        "200": { description: Assertion lineage and immutable Review events. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/data-os/signal/{workspaceId}/acquisition-plan:
    get:
      tags: [Signal Acquisition Plan]
      operationId: getSignalAcquisitionPlan
      summary: Read the operator-safe current/draft acquisition plan and readiness.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200":
          description: Workspace-owned plan state; no internal IDs, private query text or raw metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalAcquisitionPlanResponseV1" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Acquisition plan state is unavailable or internally inconsistent. }
    post:
      tags: [Signal Acquisition Plan]
      operationId: reconcileSignalAcquisitionPlan
      summary: Reconcile an append-only draft from current Brand OS and reference decisions.
      description: Creates or reuses only a draft. It never promotes a plan, import, semantic assertion, pointer or binding.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionReconcileInputV1" }
      responses:
        "200": { description: Draft reconciled or exact idempotent replay returned. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Current-plan or Brand OS CAS rejected. }
        "422": { description: Closed request contract rejected. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/brief:
    get:
      tags: [Signal Acquisition Plan]
      operationId: getSignalAcquisitionBrief
      summary: Read operator-safe Acquisition Brief status, defaults and governed choices.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200":
          description: Missing, sealed or stale brief state; authority IDs and digests remain server-owned.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalAcquisitionBriefContextV1" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: A draft or canonical Brand OS authority is unavailable. }
    post:
      tags: [Signal Acquisition Plan]
      operationId: sealSignalAcquisitionBrief
      summary: Seal operator decisions against server-resolved Brand OS, catalog, Knowledge and provider contracts.
      description: This mutation performs no query generation, import, job enqueue or provider call.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionBriefInputV1" }
      responses:
        "200":
          description: Brief sealed or exact idempotent replay returned.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalAcquisitionBriefContextV1" }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Draft CAS, authority drift or incompatible idempotency replay rejected. }
        "422": { description: Closed operator input rejected. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/readiness:
    get:
      tags: [Signal Acquisition Plan]
      operationId: getSignalAcquisitionReadiness
      summary: Read plan readiness and Brand OS/catalog drift without side effects.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Operator-safe readiness and blockers. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Readiness cannot be proven from current authority. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/promote:
    post:
      tags: [Signal Acquisition Plan]
      operationId: promoteSignalAcquisitionPlan
      summary: Explicitly seal and promote the current draft using revision/digest CAS.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionPromotionInputV1" }
      responses:
        "200": { description: Draft sealed current, or exact replay returned. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Revision, digest, Brand OS, source, query or governance CAS rejected. }
        "422": { description: Closed promotion contract rejected. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/reference-decisions:
    post:
      tags: [Signal Acquisition Plan]
      operationId: decideSignalAcquisitionReference
      summary: Record an explicit append-only reference include/exclude/revert decision.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionReferenceDecisionInputV1" }
      responses:
        "201": { description: Append-only reference decision recorded. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Reference authority or replay is incompatible. }
        "422": { description: Closed decision contract rejected. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/slots/{slotKey}/query-versions:
    post:
      tags: [Signal Acquisition Plan]
      operationId: createSignalAcquisitionQueryVersion
      summary: Add an append-only private query version to a draft slot.
      description: The path slot key and source key are operator-safe references. The server resolves all owner/entity/plan/slot/query IDs.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/AcquisitionSlotKey" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionQueryVersionInputV1" }
      responses:
        "201": { description: Query version created or exact replay returned. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Draft, slot, connector or replay is incompatible. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/query-generation:
    get:
      tags: [Signal Acquisition Plan]
      operationId: preflightSignalAcquisitionQueryGeneration
      summary: Price and validate workspace-owned query generation without writes or provider calls.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: source_key, in: query, required: true, schema: { $ref: "#/components/schemas/SignalSourceKeyV1" } }
        - { name: hard_cap_usd, in: query, required: true, schema: { type: string, pattern: '^(0|[1-9][0-9]*)(?:\.[0-9]{1,6})?$' } }
      responses:
        "200":
          description: Read-only slot, model, pricing, call-count and hard-cap flight card.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalAcquisitionQueryGenerationPreflightV1" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { description: Closed preflight input rejected. }
    post:
      tags: [Signal Acquisition Plan]
      operationId: generateSignalAcquisitionQueries
      summary: Generate append-only private query drafts for all required non-reference slots.
      description: Provider calls are server-owned and capped at two. Generation never approves a query, promotes a plan, imports data or creates semantic mention approval.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionQueryGenerationInputV1" }
      responses:
        "201": { description: One pending private query draft per primary/category/active-competitor slot. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Draft/context CAS drifted or the hard-cap preflight is blocked. }
        "422": { description: Explicit confirmation or closed input is invalid. }
        "503": { description: Server-side provider authority is unavailable. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/slots/{slotKey}/query-versions/{queryVersion}:
    get:
      tags: [Signal Acquisition Plan]
      operationId: getSignalAcquisitionQueryVersion
      summary: Read one authorized private query version for operator review.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/AcquisitionSlotKey" }
        - { name: queryVersion, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Private query, structured terms, validation/fallback and latest review state. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: Query version not found inside this workspace and slot. }
    post:
      tags: [Signal Acquisition Plan]
      operationId: reviewSignalAcquisitionQueryVersion
      summary: Append an explicit operator approval or rejection for one draft query version.
      description: Acquisition query approval is independent from mention-level Semantic Review. A pending or rejected version blocks plan promotion.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/AcquisitionSlotKey" }
        - { name: queryVersion, in: path, required: true, schema: { type: integer, minimum: 1 } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionQueryReviewInputV1" }
      responses:
        "201": { description: Append-only review decision recorded or exact replay returned. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Query is not a reviewable draft in this workspace and slot. }
        "422": { description: Decision or evidence rejected. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/slots/{slotKey}/retire:
    post:
      tags: [Signal Acquisition Plan]
      operationId: retireSignalAcquisitionSlot
      summary: Retire a slot prospectively in the open draft without deleting history.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/AcquisitionSlotKey" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [evidence]
              properties:
                evidence: { type: string, minLength: 1, maxLength: 500 }
      responses:
        "200": { description: Draft slot retirement recorded or exact replay returned. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Slot retirement conflicts with current draft state. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/imports:
    get:
      tags: [Signal Acquisition Plan]
      operationId: listSignalAcquisitionImports
      summary: List operator-safe acquisition import lineage for one connector.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - name: source_key
          in: query
          required: true
          schema: { $ref: "#/components/schemas/SignalSourceKeyV1" }
        - name: slot_key
          in: query
          required: false
          description: Optional operator-safe acquisition slot filter.
          schema: { $ref: "#/components/schemas/SignalAcquisitionSlotKeyV1" }
      responses:
        "200": { description: Import summaries without owner IDs, storage keys, raw metadata or mention text. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: Connector not found in the authorized workspace. }
    post:
      tags: [Signal Acquisition Plan]
      operationId: createSignalAcquisitionImportUpload
      summary: Seal an acquisition import before issuing durable signed multipart parts.
      description: Returns 202. The server resolves and seals the current plan, slot, graduated query evidence, Brand OS, rights and provider schema before upload. Browser requests may attest a registered query or declare it unavailable; provider verification is server-only.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignalAcquisitionImportInputV2" }
      responses:
        "202": { description: Sealed batch, signed multipart descriptor and polling URL. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Current acquisition authority drifted or replay is incompatible. }
        "422": { description: Closed import contract rejected. }
        "503": { description: Durable private storage or queue is unavailable. }
  /api/data-os/signal/{workspaceId}/acquisition-plan/imports/{importBatchId}:
    get:
      tags: [Signal Acquisition Plan]
      operationId: getSignalAcquisitionImport
      summary: Poll one sealed acquisition import without side effects.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/AcquisitionImportBatchId" }
      responses:
        "200": { description: Operator-safe upload/queue/processing/completion/failure state. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: Import not found in the authorized workspace. }
    post:
      tags: [Signal Acquisition Plan]
      operationId: transitionSignalAcquisitionImport
      summary: Finalize upload, record upload failure, or retry a failed batch from sealed storage.
      description: Recovery copies the original seal and preserves the failed attempt. It never re-resolves against a newer plan.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/AcquisitionImportBatchId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action]
              properties:
                action: { type: string, enum: [complete-upload, fail-upload, retry-from-storage] }
                failure_code: { type: string, enum: [upload_aborted, upload_transport_failed] }
      responses:
        "200": { description: Upload failure recorded without erasing the sealed batch. }
        "202": { description: Upload finalized/queued or storage recovery created/replayed. }
        "400": { description: Idempotency-Key is missing or malformed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: Import not found in the authorized workspace. }
        "409": { description: Seal, storage ownership or replay is incompatible. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review:
    get:
      tags: [Topic Discovery Review]
      operationId: getTopicDiscoveryReviewOverview
      summary: Load registered diagnostic runs and review progress.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Operator-safe summary; blind key, private paths and raw packet are absent. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: No compatible registered review exists in this workspace. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/proposals:
    get:
      tags: [Topic Discovery Review]
      operationId: listTopicDiscoveryReviewProposals
      summary: Keyset-page blind discovery proposals with digest-bound filters.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: cursor, in: query, schema: { type: string, maxLength: 2000 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 25 } }
        - { name: status, in: query, schema: { type: string, enum: [pending, reviewed] } }
        - { name: decision, in: query, schema: { type: string, enum: [topic_contract_candidate, merge, split, none_acceptable] } }
        - { name: scope, in: query, schema: { type: string, maxLength: 80 } }
        - { name: search, in: query, description: Searches only packet terms and phrases, never full private text., schema: { type: string, maxLength: 120 } }
        - { name: size, in: query, schema: { type: string, enum: [small, medium, large] } }
        - { name: stability, in: query, schema: { type: string, enum: [low, medium, high] } }
      responses:
        "200": { description: Bounded proposal page and next keyset cursor. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { description: Query or cursor/filter digest is incompatible. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/proposals/{proposalKey}:
    get:
      tags: [Topic Discovery Review]
      operationId: getTopicDiscoveryReviewProposal
      summary: Load one proposal with at most eight rights-current representative excerpts.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: proposalKey, in: path, required: true, schema: { type: string, pattern: '^proposal-[0-9]{3}$' } }
      responses:
        "200": { description: Operator-safe proposal detail, evidence refs, distributions, neighbors and current draft. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Workspace authorization or evidence rights are unavailable. }
        "404": { description: Proposal not found. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/draft:
    post:
      tags: [Topic Discovery Review]
      operationId: saveTopicDiscoveryReviewDraft
      summary: Append an idempotent human rubric draft without granting semantic authority.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TopicDiscoveryReviewDraftV1" }
      responses:
        "200": { description: Draft revision saved append-only. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Review locked, rights drifted or replay payload differs. }
        "422": { description: Closed rubric input rejected. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/outliers:
    get:
      tags: [Topic Discovery Review]
      operationId: getTopicDiscoveryOutlierReview
      summary: Load the separate bounded outlier diagnostic reservoir.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Five bounded diagnostic samples and the current outlier draft. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Topic Discovery Review]
      operationId: saveTopicDiscoveryOutlierDraft
      summary: Append the operator outlier-study decision.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TopicDiscoveryOutlierDraftV1" }
      responses:
        "200": { description: Outlier draft saved append-only. }
        "409": { description: Review locked or replay payload differs. }
        "422": { description: Closed decision input rejected. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/finalize:
    post:
      tags: [Topic Discovery Review]
      operationId: finalizeTopicDiscoveryReview
      summary: Atomically finalize a complete human census; never adopt a model or open 10C.3B/10D.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TopicDiscoveryFinalizeV1" }
      responses:
        "200": { description: Final review digest with modeling_adopted=false, ten_c3b_authorized=false and ten_d_ready=false. }
        "409": { description: Census/outlier decision incomplete, review locked or replay incompatible. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/exports/{kind}:
    get:
      tags: [Topic Discovery Review]
      operationId: exportTopicDiscoveryReview
      summary: Download contractual score or decision sheet after finalization.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: kind, in: path, required: true, schema: { type: string, enum: [score-sheet, decision-sheet] } }
      responses:
        "200": { description: Contractual CSV with content digest; no excerpts or blind key. }
        "409": { description: Review is not finalized. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/history:
    get:
      tags: [Topic Discovery Review]
      operationId: getTopicDiscoveryReviewHistory
      summary: Read append-only review revisions and lifecycle events.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { description: Operator-safe revision/event history. }
  /api/data-os/signal/{workspaceId}/topic-discovery-review/supersede:
    post:
      tags: [Topic Discovery Review]
      operationId: supersedeTopicDiscoveryReview
      summary: Create a new open correction revision after finalization.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [confirmed]
              properties: { confirmed: { const: true } }
      responses:
        "200": { description: New review revision; prior decisions and events remain immutable. }
        "409": { description: Current review is not finalized or replay is incompatible. }
  /api/data-os/signal/{workspaceId}/semantic-context:
    get:
      tags: [Semantic Context Pack]
      operationId: getSemanticContextGeneration
      summary: Load one operator-safe generation and its current typed element versions.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: generation_key, in: query, schema: { type: string, pattern: '^[a-z0-9]+(?:[._:-][a-z0-9]+)*$' } }
      responses:
        "200":
          description: Generation, current elements and at most one server-discovered operator-safe proposal run.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalSemanticContextGenerationDetailV1" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: Generation unavailable in this workspace. }
    post:
      tags: [Semantic Context Pack]
      operationId: createSemanticContextDraft
      summary: Create a draft tied server-side to exact Brand OS, Knowledge and locale authority.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action]
              properties: { action: { const: create_draft } }
      responses:
        "201": { description: Idempotent draft generation created. }
        "400": { description: Idempotency-Key missing. }
        "409": { description: Existing draft or source authority unavailable. }
  /api/data-os/signal/{workspaceId}/semantic-context/readiness:
    get:
      tags: [Semantic Context Pack]
      operationId: getSemanticContextReadiness
      summary: Resolve published-pack readiness and Brand OS/Knowledge/locale drift fail-closed.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200":
          description: Operator-safe readiness descriptor.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SignalSemanticContextReadinessV1" }
  /api/data-os/signal/{workspaceId}/semantic-context/review:
    get:
      tags: [Semantic Context Pack]
      operationId: listSemanticContextReviewElements
      summary: List current Semantic Context elements through a stable, server-filtered review cursor.
      description: Management-only operator projection. Exact totals and deterministic attention signals are non-authoritative; no private evidence identifiers or authority digests are returned.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { name: search, in: query, schema: { type: string, maxLength: 120 } }
        - { name: disposition, in: query, schema: { type: string, enum: [pending, approved, rejected, merged] } }
        - { name: element_kind, in: query, schema: { type: string } }
        - { name: scope, in: query, schema: { type: string } }
        - { name: locale, in: query, schema: { type: string, enum: [all, explicit, unassigned, needs_review], default: all } }
        - { name: evidence, in: query, schema: { type: string, enum: [all, needs_review, one_source_only, supports_only, has_limits, has_contradictions], default: all } }
        - { name: duplicate, in: query, schema: { type: string, enum: [all, exact, display], default: all } }
        - { name: evidence_relation, in: query, schema: { type: string, enum: [supports, limits, contradicts] } }
        - { name: page_size, in: query, schema: { type: integer, enum: [20, 40], default: 20 } }
        - { name: cursor, in: query, schema: { type: string }, description: Opaque cursor bound to generation, filters and sort. }
      responses:
        "200":
[...]
