openapi: 3.1.0
info:
  title: Noisia Public Reporting API
  version: "2.0.0"
  summary: Public reporting endpoints for customers and external integrations.
  description: |
    Public API for published Noisia Signal reports.

    V1 exposes flat tabular datasets and CSV exports for BI tools.
    V2 exposes the structured client-ready Signal output for external integrations.
servers:
  - url: https://studio.noisia.ai
    description: Production
security:
  - bearerAuth: []
  - noisiaApiKey: []
tags:
  - name: Public V1
    description: Flat datasets and CSV exports.
  - name: Public V2
    description: Structured Signal output for customers and external integrations.
  - name: Signal Workspace V1
    description: Protected workspace-centric live Social Listening APIs. Disabled by default.
paths:
  /api/public/v1/reports:
    get:
      tags: [Public V1]
      operationId: listPublicV1Reports
      summary: List published reports visible to the API key.
      responses:
        "200":
          description: Visible published reports.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1ReportsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/{dataset}:
    get:
      tags: [Public V1]
      operationId: getPublicV1ReportDataset
      summary: Get a flat JSON dataset for one report.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: dataset
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/V1Dataset"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv]
          description: Use `csv` to download the dataset as CSV.
      responses:
        "200":
          description: Dataset rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
            text/csv:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/time-series/monthly:
    get:
      tags: [Public V1]
      operationId: getPublicV1MonthlyTimeSeries
      summary: Get monthly mention volume.
      parameters:
        - $ref: "#/components/parameters/OutputId"
      responses:
        "200":
          description: Monthly time-series rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/distributions/{distribution}:
    get:
      tags: [Public V1]
      operationId: getPublicV1Distribution
      summary: Get a flat distribution dataset.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: distribution
          in: path
          required: true
          schema:
            type: string
            enum: [platform, content-type, layer, mobility, polarity]
      responses:
        "200":
          description: Distribution rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/datasets/{datasetFile}:
    get:
      tags: [Public V1]
      operationId: downloadPublicV1DatasetCsv
      summary: Download a V1 dataset as CSV.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: datasetFile
          in: path
          required: true
          schema:
            type: string
            examples:
              - findings.csv
              - recommendations.csv
              - time-series-monthly.csv
      responses:
        "200":
          description: CSV dataset.
          content:
            text/csv:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports:
    get:
      tags: [Public V2]
      operationId: listPublicV2Reports
      summary: List published reports visible to the API key.
      responses:
        "200":
          description: Visible published reports with available sections.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ReportsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports/{outputId}:
    get:
      tags: [Public V2]
      operationId: getPublicV2Report
      summary: Get the full structured Signal report.
      parameters:
        - $ref: "#/components/parameters/OutputId"
      responses:
        "200":
          description: Full structured report.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports/{outputId}/sections/{section}:
    get:
      tags: [Public V2]
      operationId: getPublicV2ReportSection
      summary: Get one structured Signal section.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: section
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/V2Section"
      responses:
        "200":
          description: Structured section response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/data-os/signal/{workspaceId}/bootstrap:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceBootstrap
      summary: Get workspace identity, corpus context, coverage and freshness.
      security: [{ kindeSession: [] }]
      parameters: [{ $ref: "#/components/parameters/WorkspaceId" }]
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/facets:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceFacets
      summary: List permission-aware facets under the current SignalFilterV1.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/metric-groups:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceMetricGroups
      summary: Get visible metric groups, versions, capabilities and freshness.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/series:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceSeries
      summary: Get a deterministic daily, weekly or monthly metric series.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalMetricVersion" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalRequireFresh" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "202": { $ref: "#/components/responses/SignalWorkspacePending" }
        "206": { $ref: "#/components/responses/SignalBackendError" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/breakdowns:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceBreakdown
      summary: Get the governed breakdown for a metric under the current filter.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalMetricVersion" }
        - name: dimension
          in: query
          required: true
          schema: { $ref: "#/components/schemas/SignalDimensionV1" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalRequireFresh" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "202": { $ref: "#/components/responses/SignalWorkspacePending" }
        "206": { $ref: "#/components/responses/SignalBackendError" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/comparison:
    get:
      tags: [Signal Workspace V1]
      operationId: compareSignalWorkspacePeriods
      summary: Compare equal-length, non-overlapping periods for one metric.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalMetricVersion" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - name: comparison_start
          in: query
          required: true
          schema: { type: string, format: date }
        - name: comparison_end
          in: query
          required: true
          schema: { type: string, format: date }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - { $ref: "#/components/parameters/SignalRequireFresh" }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "202": { $ref: "#/components/responses/SignalWorkspacePending" }
        "206": { $ref: "#/components/responses/SignalBackendError" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "409": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/mentions:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceMentions
      summary: Page through sanitized metric constituents using an opaque cursor.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalMetricKey" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
  /api/data-os/signal/{workspaceId}/lineage:
    get:
      tags: [Signal Workspace V1]
      operationId: getSignalWorkspaceLineage
      summary: Get basic metric definition and data watermark lineage.
      security: [{ kindeSession: [] }]
      parameters:
        - { $ref: "#/components/parameters/WorkspaceId" }
        - { $ref: "#/components/parameters/SignalStart" }
        - { $ref: "#/components/parameters/SignalEnd" }
        - { $ref: "#/components/parameters/SignalTimezone" }
        - { $ref: "#/components/parameters/SignalGranularity" }
        - name: metric_key
          in: query
          schema: { type: string }
      responses:
        "200": { $ref: "#/components/responses/SignalWorkspaceSuccess" }
        "304": { description: ETag still current. }
        "400": { $ref: "#/components/responses/SignalBackendError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/SignalBackendError" }
        "503": { $ref: "#/components/responses/SignalBackendError" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Preferred auth header: `Authorization: Bearer <NOISIA_REPORTING_API_KEY>`."
    noisiaApiKey:
      type: apiKey
      in: header
      name: x-noisia-api-key
      description: Fallback API key header.
    kindeSession:
      type: apiKey
      in: cookie
      name: noisia_studio_session
      description: Logical Studio session; Kinde authenticates and Noisia DB authorizes workspace and brand access.
  parameters:
    OutputId:
      name: outputId
      in: path
      required: true
      schema:
        type: string
      description: Published output id.
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: Stable Signal workspace id, never an output id.
    SignalStart:
      name: start
      in: query
      required: true
      schema: { type: string, format: date }
    SignalEnd:
      name: end
      in: query
      required: true
      schema: { type: string, format: date }
    SignalTimezone:
      name: timezone
      in: query
      required: false
      schema: { type: string, default: workspace timezone }
    SignalGranularity:
      name: granularity
      in: query
      required: false
      schema: { type: string, enum: [day, week, month], default: day }
    SignalMetricKey:
      name: metric_key
      in: query
      required: true
      schema: { type: string }
    SignalMetricVersion:
      name: metric_version
      in: query
      required: false
      schema: { type: integer, minimum: 1, default: 1 }
    SignalRequireFresh:
      name: require_fresh
      in: query
      required: false
      description: Fail with a typed stale or partial response instead of serving degraded materialization state.
      schema: { type: boolean, default: false }
  responses:
    SignalWorkspaceSuccess:
      description: signal-backend-v1 response. Concrete shape depends on the route.
      content:
        application/json:
          schema:
            type: object
            required: [contract_version]
            properties:
              contract_version: { const: signal-backend-v1 }
            additionalProperties: true
    SignalWorkspacePending:
      description: A bounded ad hoc materialization was deduplicated and queued.
      content:
        application/json:
          schema:
            type: object
            required: [contract_version, state, filters_hash, retry_after_seconds]
            properties:
              contract_version: { const: signal-backend-v1 }
              state: { const: pending }
              filters_hash: { type: string, pattern: '^sha256:[0-9a-f]{64}$' }
              retry_after_seconds: { type: integer }
    SignalBackendError:
      description: Typed signal-backend-v1 contract error.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/SignalBackendErrorV1" }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: API key cannot access this report.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Report, dataset or section not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServerError:
      description: Internal API error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    SignalBackendErrorV1:
      type: object
      required: [contract_version, error, message, details]
      properties:
        contract_version: { const: signal-backend-v1 }
        error: { type: string, enum: [invalid_filter, unsupported_dimension, stale, partial, not_available] }
        message: { type: string }
        details: { type: object, additionalProperties: true }
    SignalDimensionV1:
      type: string
      enum: [platform, source_type, entity, product, campaign, topic, taxonomy, signal, signal_lifecycle, audience, demographic, journey_stage, trigger, barrier, sentiment_polarity, emotion, country, language, content_format]
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          examples: [missing_api_key, invalid_api_key, forbidden_output, report_not_found, server_error]
        message:
          type: string
    V1Dataset:
      type: string
      enum:
        - summary
        - kpis
        - findings
        - recommendations
        - emerging-patterns
        - time-series-monthly
        - platform-distribution
        - content-type-distribution
        - layer-distribution
        - mobility-distribution
        - polarity-distribution
        - evidence-sample
    V2Section:
      type: string
      enum:
        - full
        - overview
        - findings
        - decision-field
        - action-cards
        - strategic-opportunities
        - competitive-intelligence
        - engine-methodology
        - methodology-view
        - emerging-patterns
        - future-signals
        - market-analysis
        - knowledge-impact
        - evidence-deep-dives
        - aggregates
        - evidence-sample
        - manifest
    V1ReportListItem:
      type: object
      additionalProperties: false
      properties:
        output_id:
          type: string
        title:
          type: string
        headline:
          type: [string, "null"]
        summary:
          type: [string, "null"]
        report_version:
          type: integer
        brand_name:
          type: [string, "null"]
          description: Backward-compatible report subject label. For industry/theme reports this is the theme name.
        methodology:
          type: [string, "null"]
        methodology_slug:
          type: string
        published_at:
          type: [string, "null"]
          format: date-time
    V1ReportsListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/V1ReportListItem"
        meta:
          type: object
          required: [dataset, row_count]
          properties:
            dataset:
              const: reports
            row_count:
              type: integer
    V1DatasetResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: object
          required: [output_id, dataset, row_count, report_version, published_at]
          properties:
            output_id:
              type: string
            dataset:
              $ref: "#/components/schemas/V1Dataset"
            dataset_label:
              type: string
            row_count:
              type: integer
            report_version:
              type: integer
            published_at:
              type: [string, "null"]
              format: date-time
    V2ReportListItem:
      type: object
      required: [api_version, output_id, title, report_version, schema_version, sections, links]
      properties:
        api_version:
          const: 2
        output_id:
          type: string
        output_type:
          type: string
        title:
          type: string
        headline:
          type: [string, "null"]
        summary:
          type: [string, "null"]
        report_version:
          type: integer
        schema_version:
          type: integer
        brand_name:
          type: [string, "null"]
          description: Backward-compatible report subject label. For industry/theme reports this is the theme name.
        methodology:
          type: [string, "null"]
        methodology_slug:
          type: string
        published_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
        sections:
          type: array
          items:
            $ref: "#/components/schemas/V2Section"
        links:
          type: object
          properties:
            full:
              type: string
            sections:
              type: string
    V2ReportsListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/V2ReportListItem"
        meta:
          type: object
          required: [api_version, dataset, row_count]
          properties:
            api_version:
              const: 2
            dataset:
              const: reports
            row_count:
              type: integer
    V2SectionResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          description: Full Signal report or a single structured Signal section.
          oneOf:
            - $ref: "#/components/schemas/V2FullReport"
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
            - type: "null"
        meta:
          type: object
          required: [api_version, output_id, section, report_version, schema_version, published_at]
          properties:
            api_version:
              const: 2
            output_id:
              type: string
            section:
              $ref: "#/components/schemas/V2Section"
            report_version:
              type: integer
            schema_version:
              type: integer
            published_at:
              type: [string, "null"]
              format: date-time
    V2FullReport:
      type: object
      required: [metadata, report, manifest, metrics, sections]
      properties:
        metadata:
          type: object
          additionalProperties: true
        report:
          $ref: "#/components/schemas/SignalReportHeader"
        manifest:
          type: object
          additionalProperties:
            type: boolean
        metrics:
          $ref: "#/components/schemas/SignalMetrics"
        sections:
          type: object
          additionalProperties: true
          properties:
            overview:
              type: object
              additionalProperties: true
            findings:
              type: array
              items:
                $ref: "#/components/schemas/PublicFinding"
            decision_field:
              type: object
              additionalProperties: true
            action_cards:
              type: array
              items:
                type: object
                additionalProperties: true
            strategic_opportunities:
              type: array
              items:
                type: object
                additionalProperties: true
            competitive_intelligence:
              type: object
              additionalProperties: true
            emerging_patterns:
              type: array
              items:
                type: object
                additionalProperties: true
            future_signals:
              type: array
              items:
                type: object
                additionalProperties: true
            market_analysis:
              type: [object, "null"]
              additionalProperties: true
            knowledge_impact:
              type: [object, "null"]
              additionalProperties: true
            evidence_deep_dives:
              type: array
              items:
                type: object
                additionalProperties: true
            aggregates:
              type: object
              additionalProperties: true
            evidence_sample:
              type: array
              items:
                type: object
                additionalProperties: true
            manifest:
              type: object
              additionalProperties:
                type: boolean
    SignalReportHeader:
      type: object
      required: [brand_name, methodology_name, methodology_slug, headline, summary]
      properties:
        brand_name:
          type: string
          description: Backward-compatible report subject label. For industry/theme reports this is the theme name.
        methodology_name:
          type: string
        methodology_slug:
          type: string
        business_question:
          type: [string, "null"]
        headline:
          type: string
        summary:
          type: string
    SignalMetrics:
      type: object
      required: [findings_total, barriers_total, triggers_total, movable_total]
      properties:
        findings_total:
          type: number
        barriers_total:
          type: number
        triggers_total:
          type: number
        movable_total:
          type: number
    PublicFinding:
      type: object
      required:
        - finding_id
        - finding_name
        - polarity
        - layer
        - confidence
        - frequency_mentions
        - intensity_score
        - composite_score
        - evidence_count
      properties:
        finding_id:
          type: string
        finding_name:
          type: string
        polarity:
          type: string
          enum: [trigger, barrier, mixed]
        layer:
          type: string
          enum: [psicologico, personal, social, cultural]
        mobility:
          type: [string, "null"]
          enum: [movible_por_marca, parcialmente_movible, estructural, null]
        confidence:
          type: string
          enum: [alta, media, baja_direccional]
        frequency_mentions:
          type: number
        intensity_score:
          type: number
        predictive_capacity:
          type: [number, "null"]
        composite_score:
          type: number
        share_of_findings_pct:
          type: number
        evidence_count:
          type: number
        period_start:
          type: [string, "null"]
        period_end:
          type: [string, "null"]
        public_quote:
          type: [string, "null"]
